.header {
  padding: 20px 0;
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding-left: 42px;
    padding-right: 42px;
  }
  .logo {
    margin-bottom: 0;
  }
}
.logoSpan {
  color: #f53602;
}

.hederList {
  display: flex;
  gap: 20px;
  min-height: 40px;
  align-items: center;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;

  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  background-color: #f53602;
  border-color: transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.link:hover {
  background-color: #fff;
  color: #f53602;
}
.linkActive {
  composes: link;
  background-color: #fff;
  color: #f53602;
}

.headerBottomLine {
  border-bottom: 1px solid grey;
}
